.search-result {
  width: 375px;
  border-radius: 20px;
  transform-origin: top center;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 75ms linear, transform 38ms ease-out;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 1 auto;
  flex-direction: row;
  height: 36px;
  min-width: 125px;
  padding: 0 16px;
  position: relative;
  width: 268px;
  border-radius: 8px;
  color: rgb(38, 38, 38);
  background-color: #efefef;

  .search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
  }

  .input {
    background: rgb(239, 239, 239);
    border: 0;
    border-radius: 8px;
    box-sizing: border-box;
    color: rgb(38, 38, 38);
    font-size: 1.6rem;
    height: 100%;
    outline: none;
    padding: 3px 0;
    width: 100%;
    z-index: 2;
  }

  .clear-btn {
    margin-right: 10px;
  }

  .loading {
    margin-left: 30px;
    position: relative;
    animation: spinner 2s linear infinite;
  }

  @keyframes spinner {
    from {
      transform: translateX(-50%) rotate(0);
    }
    to {
      transform: translateX(-50%) rotate(360deg);
    }
  }
}

.popper-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: min((1920px - 96px) - 60px, 734px);
  min-height: 100px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
}
