.search {
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  height: 36px;
  min-width: 125px;
  padding: 0 16px;
  position: relative;
  width: 268px;
  border-radius: 8px;
  color: rgb(38, 38, 38);
  background-color: #efefef;

  .search-btn {
  }

  .input {
    background: rgb(239, 239, 239);
    border: 0;
    border-radius: 8px;
    box-sizing: border-box;
    color: rgb(38, 38, 38);
    font-size: 1.6rem;
    height: 100%;
    outline: none;
    padding: 3px 16px;
    width: 100%;
    z-index: 2;
  }
}

.popper-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: min((1920px - 96px) - 60px, 734px);
  min-height: 100px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
}
